.settings
*~
/csharp.net/*/PubNub-Messaging*/bin/*
/csharp.net/*/PubNub-Messaging*/obj/*
/csharp.net/*/*.suo
/csharp.net/silverlight-part/*/Debug/*
/csharp.net/silverlight-part/*/obj/*
/windows-phone-7/*/packages/*
/windows-phone-7/*/packages.config
/windows-phone-7/*/*/bin/*
/windows-phone-7/*/*/obj/*
/windows-phone-7/*/*.suo
/iis/3.4/*/bin/*
/iis/3.4/*/obj/*
/iis/3.4/*/*.sln
/iis/3.4/*/*.suo
/iis/3.4/*/*.csproj.user
/unity/*/*/PubnubUnity/Library/*
/unity/*/*/PubnubUnity/Temp/*
/unity/*/*/PubnubUnity/ProjectSettings/*
/unity/*/*/PubnubUnity/*.pidb
/unity/*/*/PubnubUnity/*.pdb
/unity/*/*/PubnubUnity/*.exe
/unity/*/*/PubnubUnity/*.userprefs
/unity/*/*/PubnubUnity/PubnubUnityBuild_Data/*
/unity/*/*/UnityUnitTest/Library/*
/unity/*/*/UnityUnitTest/Temp/*
/unity/*/*/UnityUnitTest/ProjectSettings/*
/unity/*/*/UnityUnitTest/*.pidb
/unity/*/*/UnityUnitTest/*.pdb
/unity/*/*/UnityUnitTest/*.exe
/unity/*/*/UnityUnitTest/*.userprefs
/unity/*/*/UnityUnitTest/UnityUnitTestBuild_Data/*
/silverlight/3.4/*/obj/*
/silverlight/3.4/*/*.user
/silverlight/3.4/*/*.suo
/silverlight/3.4/*/bin/*
/demos/ePoll/WebPoll/bin/*.pdb
/demos/ePoll/WebPoll/obj/*
/demos/ePoll/ePoll.Types/Debug/bin/*.pdb
/demos/ePoll/ePoll.Types/obj/*
/demos/ePoll/ePoll.Types/Debug/*.pdb
/demos/ePoll/ePoll.Types/bin/Debug/*.pdb
/demos/ePoll/ePoll.UnitTests/*.user
/demos/ePoll/ePoll.UnitTests/obj/*
/demos/ePoll/ePoll.UnitTests/bin/Debug/*.pdb
/demos/ePoll/ePoll.UnitTests/bin/Debug/*.VisualState.xml
/demos/ePoll/ePoll/bin/Debug/*.vshost.*
/demos/ePoll/ePoll/bin/Debug/*.pdb
/demos/ePoll/ePoll/bin/Debug/*.manifest
/demos/ePoll/ePoll/obj/*
/demos/ePoll/ePollManager/bin/Debug/*.pdb
/demos/ePoll/ePollManager/bin/Debug/*.manifest
/demos/ePoll/ePollManager/obj/*
/demos/ePoll/ePollWorker/bin/Debug/*.pdb
/demos/ePoll/ePollWorker/bin/Debug/*.manifest
/demos/ePoll/ePollWorker/obj/*
.DS_Store
